.body{
  margin: 0;
  padding: 0;
}
.maincontainer{
  width: 100%;
}
.container{
  width: 80%;
  margin: auto;
}
#image{
  width: 100%;
  background-image: url("1.jpg");
  opacity: 0.8;
  height: 670px;
  background-size: cover;
  margin: 0;
 /* background-attachment: fixed;*/
}



.topnav {
    overflow: hidden;
    background-color: white;
    padding: 10px 10px;
    border-radius: 10px;
    /* border: 1px solid black; */
    width: 100%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    margin-top: 10px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: skyblue;
  }
  
  .topnav a.active {
    color: skyblue;
  }
  
  .topnav .icon {
    display: none;
  }


/*
.nav{
  background-color: white;
  height: 72px;
  border-radius: 10px;
}
.background{
  background-color: rgb(195, 204, 204);
}

#button{
  color: white;
  float: right;
  display: block;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 10px;
  padding: 10px 12px;
  border-radius: 5px;
  background-color: skyblue;
  border: none;
  text-decoration: none;
  font-size: 20px;
}
.nav a{
  color: black;
  float: right;
  display: block;
  padding: 24px 14px;
  text-decoration: none;
  font-size: 20px;
}
.nav a:hover{
  background-color: gray;
  color: green;
}
*/

.classyads{
  float: left; 
  font-size:25px; 
  font-weight: bold; 
  margin-top: 20px; 
  margin-left: 50px; 
  color: black; 
  padding-right: 150px;
}
#button{
    color: white;
    float: right;
    display: block;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 14px;
    margin-bottom: 2px;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: skyblue;
    border: none;
    text-decoration: none;
    font-size: 20px;
}
#button:hover{
  background-color: rgb(106, 191, 224);
}

.background{
  background-color: rgb(195, 204, 204);
}

.text1{
  margin-top:200px;
  margin-left: 200px;
  color: black;
  font-size: 50px;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-20px);
  }
  80%,
  100% {
    transform: translateY(0px);
  }
}
.text2{
  color: black;
  font-size: 20px;
  margin-left: 400px;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.transparent{
  margin-top: 50px;
  width: 100%;
  height:90px;
  /* border: 1px solid black; */
  border-radius: 10px;
  background: rgba(7, 7, 7, 0.7);
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.grid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top: 30px;
  grid-gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 30px;
  opacity: 1;
}
#text{
  height: 30px;
  border-radius: 5px;
  border: none;
}
#button1{
  background-color: skyblue;
  border: none;
  border-radius: 5px;
}
.transparent1{
  background-color: white;
  width: 100%;
  height: 150px;
  /* border: 1px solid black; */
  margin-top: 110px;
 /* border: none; */
  border-radius: 10px;
}
.grid1{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding-top: 30px;
  grid-gap: 20px;
  padding-left: 0px;
  /* height: 30px; */
}

.first:hover{
  color: white;
  background-color: skyblue;
  transform: scale(1.1);
  border-radius: 5px;
}
.first:hover #firsticon{
  color: white;
}

.first{
  /* border: 1px solid red; */
   height: 150px;
   margin-top: -30px;
}
.firsticon{
   margin-top: 20px;
   margin-left: 10px;
}

#firsticon{
   color: skyblue;
   font-size: 35px;
   margin-top: 0px;
   margin-left: 30px;
}
.secondicon{display: table; /* keep the background color wrapped tight */
  /*  margin: 0px auto 0px auto;  keep the table centered */
  border-radius: 20px;
  margin-top: 10px;
  padding:5px 15px;
  background-color:rgb(134, 133, 133, 0.3);
  margin-left: 10px;
  color: black;
  font-size: 13px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  position: relative;
}
#secondicon{display: table; /* keep the background color wrapped tight */
  /*  margin: 0px auto 0px auto;  keep the table centered */
  border-radius: 20px;
  margin-top: 10px;
  padding:5px 15px;
  background-color:rgb(134, 133, 133, 0.3);
  margin-left: 10px;
  color: black;
  font-size: 13px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}

.secondicon1{display: table; /* keep the background color wrapped tight */
  /*  margin: 0px auto 0px auto;  keep the table centered */
  border-radius: 20px;
  margin-top: 10px;
  padding:5px 15px;
  background-color:rgb(134, 133, 133, 0.3);
  margin-left: 300px;
  color: black;
  font-size: 13px;
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
}


.text3{
  margin: 50px 0px 20px 0px ;
  font-size: 30px;
}

.transparent2{
  background-color: white;
  /* border: 1px solid black; */
  margin-top: 20px;
 /* border: none; */
  border-radius: 10px;
}
.grid2{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top: 0px;
  grid-gap: 40px;
  /* border: 1px solid red; */
  width: 100%;
  /* height: 30px; */
}
.card{
  border: none;
  border-radius: 5px;
  box-shadow: 5px 0px 5px grey;
  /* box-shadow:  none|h-offset v-offset blur spread color |inset|initial|inherit; */
}
/*
.card:hover{
  background-color: gray;
  transform: scale(1.1);   
}
*/
.card1{
  position: relative;
  border: none;
  height: 270px;
  border-radius: 5px;
  box-shadow: 5px 0px 5px grey;
  margin-bottom: 20px;
  /* box-shadow:  none|h-offset v-offset blur spread color |inset|initial|inherit; */
}
.card1:hover{
  background-color: gray;
  transform: scale(1.01);   
}
#real{
  position: absolute;
  bottom: 80px;
  background-color: skyblue;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
#real1{
  position: absolute;
  bottom: 25px;
  font-size: 25px;
  /* background-color: skyblue; */
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
#real2{
  position: absolute;
  bottom: 10px;
  font-size: 15px;
  /* background-color: skyblue; */
  color: wheat;
  padding-left: 20px;
  padding-right: 20px;
}
#real3{
  position: absolute;
  bottom: 0px;
  /* fill: black; */
   margin-bottom: 20px;
  margin-right: 50px;
  margin-left: -80px;
  /* background-color: skyblue; */
}

#real4{
  position: absolute;
  bottom: 0px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: -80px;

  /* fill: black; */
  /* background-color: skyblue; */
}

.newicon{
  font-size:20px;
  color:skyblue;
  border-radius: 50%;
  padding: 10px 10px;
  background-color: grey;
  opacity: 0.7;
}
.newicon:hover{
  background-color:red;
  color:white;
}
.card2{
  position: relative;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 0px 5px grey;
  /* box-shadow:  none|h-offset v-offset blur spread color |inset|initial|inherit; */
}
.card2:hover{
  background-color: gray;
  transform: scale(1.01);   
}

.popular{
  color: skyblue;
  margin-top: 600px;
  padding-top: 50px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.transparent3{
  margin-top: 20px;
  padding-top: 50px;
 /* border: none; */
  border-radius: 10px;
}
.grid3{
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 0px;
  grid-gap: 40px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  /* height: 30px; */
}
.transparent4{
  margin-top: 10px;
  padding-top: 0px;
 /* border: none; */
  border-radius: 10px;
  padding-bottom: 150px;
}
.grid4{
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 0px;
  grid-gap: 50px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  height: 380px;
  /* height: 30px; */
}
.trending{
  color: skyblue;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}
.transparent5{
  margin-top: 10px;
  padding-top: 0px;
 /* border: none; */
  border-radius: 10px;
  padding-bottom: 80px;
}
.grid5{
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 0px;
  grid-gap: 30px;
  width: 100%;
  height: 150px;
  /* height: 30px; */
}
.transparent6{
  margin-top: 10px;
  padding-top: 0px;
 /* border: none; */
  border-radius: 10px;
  padding-bottom: 80px;
}
.grid6{
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 0px;
  grid-gap: 30px;
  width: 100%;
  height: 150px;
  /* height: 30px; */
}
.transparent7{
  margin-top: 10px;
  padding-top: 0px;
 /* border: none; */
  border-radius: 10px;
  padding-bottom: 150px;
}
.grid7{
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 0px;
  grid-gap: 30px;
  width: 100%;
  height: 150px;
  /* height: 30px; */
}
.horizontalcard{
  border: none;
  border-radius: 5px;
  box-shadow: 5px 0px 5px grey;   
}


.testimonials{
  font-size: 50px;
  color: skyblue;
  padding-top: 50px;
  text-align: center;
}

.profile{
  margin-top: 50px;
  text-align: center;
}
#profile{
  height: 130px;
  width: 130px;
   border-radius: 50%;
}
.bruce{
  margin-top: 20px;
  text-align: center;
}
.lorem{
  text-align: center;
  font-size: 30px;
  margin-top: 40px;
  padding-bottom: 50px;
}



/*body  part*/


body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.slides-container {
  height: 500px;
  /* transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1); */
  position: relative;
}

.slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
}

.next-btn,
.prev-btn {
  background: #eee;
  padding: 16px;
  position: absolute;
  top: 50%;
  margin-top:3100px;
  transform: translateY(-50%);
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  z-index: 100;
  cursor: pointer;
  transition: 400ms;
}

.next-btn:hover,
.prev-btn:hover {
  background: #48f9ff;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}

/* Navigation Dots */

.navigation-dots {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  padding-bottom: 50px;
}

.single-dot {
  background: #333;
  height: 16px;
  width: 16px;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 0 8px;
  cursor: pointer;
  transition: 400ms;
}

.single-dot.active {
  background: #eee;
}





/* last part */

.blog{
  color: skyblue;
  font-size: 40px;
  padding-top: 100px;
  text-align: center;
  font-weight: bold;
}
.news{
  font-size: 17px;
  text-align: center;
  padding-top: 10px;
}
.transparent8{
  margin-top: 10px;
  padding-top: 50px;
 /* border: none; */
  border-radius: 10px;
  padding-bottom: 50px;
}
.grid8{
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 0px;
  grid-gap: 30px;
  width: 100%;
  border: none;
 /* height: 150px; */
  /* height: 30px; */
}

.subscribe{
  height: 32px; 
  border: none; 
  width: 29%;
}
.subscribe:hover{
  background-color: black;
  color: white;
}

.transparent11{
  /* background-color: white; */
  /* border: 1px solid black; */
  margin-top: 0px;
 /* border: none; */
 padding-top: 100px;
  border-radius: 10px;
}
.grid11{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top: 0px;
  grid-gap: 40px;
  /* border: 1px solid red; */
  width: 100%;
  /* height: 30px; */
}
.selling{
  font-size: 23px;
  margin-bottom: 0px;
}
.mark{
  color: rgb(175, 174, 174);
  font-size: 16px;
  float: left;
}
.card3{
  border: none;
  border-radius: 5px;
  /* box-shadow:  none|h-offset v-offset blur spread color |inset|initial|inherit; */
}
.card3:hover{
  background-color: rgb(218, 216, 216);
  transform: scale(1.1);   
}
.view{
  background-color: skyblue;
  color: rgb(210, 232, 241);
  border-radius: 5px;
  border: none;
  box-shadow: none;
  font-size: 20px;
  padding: 10px 10px;
  margin-left: 450px;
  margin-bottom: 100px;
}
.view:hover{
    background-color: rgb(106, 191, 224);
}

.transparent13{
  margin-top: 10px;
  padding-top: 30px;
 /* border: none; */
  border-radius: 10px;
  padding-bottom: 30px;
}
.grid13{
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 0px;
  grid-gap: 30px;
  width: 100%; 
  border: none;
 /* height: 150px; */
  /* height: 30px; */
}



.grid9-1{
  float: left;
  width: 50%;
}
.grid9-2{
  width: 50%;
  float: right;
}

.grid10{
  display: grid;
  grid-template-columns: 35% 20% 20% 25%; 
  padding-top: 50px;
  grid-gap: 0px;
  width: 100%;
  border: none;
 /* height: 150px; */
  /* height: 30px; */
}
.about{
  /* border: 1px solid black; */
  padding-right: 20px;
  width: 100%;
}
.navigations{
  color: white;
/*  border: 1px solid red; */
}
.follow{
 /* border: 1px solid green; */
  color: white;
}
.partition{
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 20px;
}
.search{
  display: grid;
  grid-template-columns: auto auto;
  /* border: 1px solid pink; */
}
#search{
  height: 40px;
  border: 1px solid rgb(160, 156, 156);
  background-color:  rgb(56, 56, 56);
  float: left;
}
.transparent11{
  /* background-color: white; */
  /* border: 1px solid black; */
  margin-top: 0px;
 /* border: none; */
 padding-top: 100px;
  border-radius: 10px;
}
.grid11{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top: 0px;
  grid-gap: 40px;
  /* border: 1px solid red; */
  width: 100%;
  /* height: 30px; */
}
.transparent12 #search{
  width: 100%;
}
.about1{
  color: white;
}
#lorem{
  margin-top: 20px;
  color: rgb(160, 156, 156);
}

.facebook {
  color: rgb(160, 156, 156);
}

.twitter {
  color: rgb(160, 156, 156);
}

.instagram {
  color: rgb(160, 156, 156);
}

.linkedin {
  color: rgb(160, 156, 156);
}
  
.facebook:hover {
  color: white;
}

.twitter:hover {
  color:white;
}

.instagram:hover {
  color: white;
}

.linkedin:hover {
  color: white;
}

.us{
  text-decoration: none;
}
.one:hover{
  color: white;
}
.two:hover{
  color: white;
}
.three:hover{
  color: white;
}
.four:hover{
  color: white;
}

.search1{
  float: right;
  height: 44px;
  border: none;
  font-size: 20px;
  background-color: skyblue;
  color: rgb(245, 239, 239);
}  
.search1:hover{
  background-color: rgb(106, 191, 224);
}
.transparent12 button{
  width: 100%;
}

ul li{
  color: rgb(160, 156, 156);
  list-style-type: none;
  padding: 8px 0px;
}
.navigations ul li{
  margin-left: -40px;
}

.follow ul li{
  margin-left: -40px;
}
#hr{
  margin-top: 70px;
  color:  rgb(160, 156, 156);
}
#copyright{
  padding-top: 50px;
  padding-bottom: 80px;
  text-align: center;
  color:  rgb(160, 156, 156);
}

.transparent11{
  /* background-color: white; */
  /* border: 1px solid black; */
  margin-top: 0px;
 /* border: none; */
 padding-top: 100px;
  border-radius: 10px;
}
.grid11{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-top: 0px;
  grid-gap: 40px;
  /* border: 1px solid red; */
  width: 100%;
  /* height: 30px; */
}