/*Media Query*/


@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }



@media screen and (max-width: 600px){
    .container{
        border: none;
        width: 90%;
    }
    #image{
        opacity: 0.8;
        height: 600px;
        width: 100% ;
        background-attachment: fixed;
    }
    .nav{
        background-color: white;
        height: 72px;
        border-radius: 1px;
        width: 100%;
        border: none;
        margin-top: 0px;
    }
    
    #button{display: none;
    }
    .nav a{display: none;
    }
    .text1{
        margin-top:0px;
        margin-left: 0px;
        color: white;
        font-size: 37px;
        text-align: center;
    }
    .text2{
        text-align: center;      
        margin-left: 0px;
        margin-bottom: 50px;
    }
    .transparent{
        width: 90%;
        margin: auto;
        height:250px;
        /* border: 1px solid black; */
        border-radius: 10px;
        background: rgba(7, 7, 7, 0.7);
    }
    .grid{
        display: grid;
        grid-template-columns: auto;
    }
    .classyads{
  margin-left: 0px;
}
    #button1{
        height: 30px;
    }
    .transparent1{
        height: 870px;
        width: 90%;
        margin: auto;
        /* border: 1px solid black; */
        margin-top: 70px;
        padding-top: 20px;
       border: none; 
        border-radius: 10px;
    }
    .grid1{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 25px;
        /* height: 30px; */
    }
    
#icon1{
    text-align: center; 
    margin-right: 50px;
}    
#icon2{
    text-align: center; 
    margin-right: 45px;
}    
#icon3{
    text-align: center; 
    margin-right: 45px;
}    
#icon4{
    text-align: center; 
    margin-right: 40px;
}    
#icon5{
    text-align: center; 
    margin-right: 40px;
}    
#icon6{
    text-align: center; 
    margin-right: 50px;
}    
.firsticon{
    margin-top: 0px;
    margin-left: 0px;
    font-size: 20px;
    text-align: center;
}
#firsticon{
    color: skyblue;
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
    margin-left: 0px;
    margin-right: 50px;
}
.secondicon{display: table; /* keep the background color wrapped tight */
    /*  margin: 0px auto 0px auto;  keep the table centered */
    border-radius: 20px;
    margin-top: 10px;
    padding:5px 15px;
}
#secondicon{display: table; /* keep the background color wrapped tight */
    /*  margin: 0px auto 0px auto;  keep the table centered */
    border-radius: 20px;
    margin-top: 10px;
    padding:5px 15px;
    margin-left: 130px;
}

.secondicon1{
  margin-left: 0px;
}


.text3{
    margin: 150px 0px 20px 0px ;
    font-size: 30px;
}
.transparent2{
  background-color: white;
  /* border: 1px solid black; */
  margin-top: 20px;
 /* border: none; */
  border-radius: 10px;
}
.grid2{
  display: grid;
  grid-template-columns: auto;
  padding-top: 0px;
  grid-gap: 40px;
  /* border: 1px solid red; */
  width: 100%;
  /* height: 30px; */
}
.card{
    border: none;
    border-radius: 5px;
    box-shadow: 5px 0px 5px grey;
    /* box-shadow:  none|h-offset v-offset blur spread color |inset|initial|inherit; */
}

/* grid 3 */


.popular{
    color: skyblue;
    margin-top: 2600px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.transparent3{
    margin-top: 0px;
    padding-top: 50px;
   /* border: none; */
    border-radius: 10px;
}
.grid3{
    display: grid;
    grid-template-columns: auto;
    padding-top: 0px;
    grid-gap: 40px;
    width: 85%;
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
    /* height: 30px; */
}
#real3{
  margin-left: -60px;
}

#real4{
  margin-left: -60px;
}


.transparent4{
    margin-top: 20px;
    padding-top: 0px;
   /* border: none; */
    border-radius: 10px;
    padding-bottom: 100px;
}
.grid4{
    display: grid;
    grid-template-columns:auto;
    padding-top: 0px;
    grid-gap: 50px;
    width: 85%;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
    height: 380px;
    /* height: 30px; */
}
.trending{
    color: skyblue;
    font-size: 30px;
    font-weight: bold;
    margin-top: 550px;
    margin-bottom: 50px;
    margin-left: 20px;
}
.transparent5{
    margin-top: 10px;
    padding-top: 0px;
   /* border: none; */
    border-radius: 10px;
    padding-bottom: 80px;
}
.grid5{
    display: grid;
    grid-template-columns: auto;
    margin-top: 0px;
    /* height: 30px; */
}


.card:hover{
display: none;
}
.card1:hover{
    display: none;
}
.card2:hover{
    display: none;
}

.transparent6{
    margin-top: 10px;
    padding-top: 0px;
   /* border: none; */
    border-radius: 10px;
    padding-bottom: 80px;
}
.grid6{
    display: grid;
    grid-template-columns: auto;
    padding-top: 220px;
    grid-gap: 30px;
    width: 100%;
    height: 150px;
    /* height: 30px; */
}
.transparent7{
    margin-top: 10px;
    padding-top: 0px;
   /* border: none; */
    border-radius: 10px;
    padding-bottom: 80px;
}
.grid7{
    display: grid;
    grid-template-columns: auto;
    padding-top: 220px;
    grid-gap: 30px;
    width: 100%;
    height: 150px;
    /* height: 30px; */
}
.horizontalcard{
    border: none;
    border-radius: 5px;
    /* box-shadow: 5px 0px 5px grey; */
    width: 80%;
    margin: auto;
       
}

.testimonials{
    font-size: 50px;
    color: skyblue;
    padding-top: 300px;
    text-align: center;
}

.profile{
    margin-top: 50px;
    text-align: center;
}
#profile{
    height: 130px;
    width: 130px;
     border-radius: 50%;
}
.bruce{
    margin-top: 20px;
    text-align: center;
}
.lorem{
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    padding-bottom: 50px;
}
.blog{
    color: skyblue;
    font-size: 40px;
    padding-top: 100px;
    text-align: center;
    font-weight: bold;
}
.news{
    font-size: 17px;
    text-align: center;
    padding-top: 10px;
}
.transparent8{
    margin-top: 10px;
    padding-top: 50px;
   /* border: none; */
    border-radius: 10px;
    padding-bottom: 80px;
}
.grid8{
    display: grid;
    grid-template-columns: auto;
    padding-top: 0px;
    grid-gap: 30px;
    width: 85%;
    margin: auto;
   /* height: 150px; */
    /* height: 30px; */
}
.view{
display: none;
}

.transparent9{
    margin-top: 10px;
    padding-top: 30px;
   /* border: none; */
    border-radius: 10px;
    padding-bottom: 50px;
}
.grid9{
    grid-template-columns: auto;
   /* height: 150px; */
    /* height: 30px; */
}

.transparent13{
    margin-top: 10px;
    padding-top: 30px;
   /* border: none; */
    border-radius: 10px;
    padding-bottom: 30px;
}
.grid13{
    display: grid;
    grid-template-columns:auto;
    padding-top: 0px;
    grid-gap: 30px;
    width: 100%; 
    border: none;
   /* height: 150px; */
    /* height: 30px; */
}



.transparent11{
    margin-top: 0px;
    padding-top: 30px;
   /* border: none; */
    border-radius: 10px;
    padding-bottom: 30px;
}
.grid11{
    display: grid;
    grid-template-columns: auto; 
    padding-top: 50px;
   /* height: 150px; */
    /* height: 30px; */
}
.partition{
    margin-bottom: 20px; 
}
#search{
    width: 100%;
}
.search1{
    width: 100%;
}
.copyright{display: none;
}

/*slider*/
body {
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    width: 100%;
    overflow: hidden;
    margin-top: 250px;
  }
  
  .slides-container {
    height: 950px;
    margin-top: -230px;
    width: 100%;
    /* transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1); */
    position: relative;
  }
  
  .slide-image {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  .next-btn,
  .prev-btn {
    display: none;
  }
  
  /* Navigation Dots */
  
  .navigation-dots {
    margin: 0px 0;
    margin-top: 50px;
    padding-bottom: 50px;
  }
  

}